<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="keywords"
        content="privacy, federated login, OpenID, security, cryptography,
                 blind signatures,Steve Weis, Arkajit Dey, Stephen Weis" /> 
  <meta name="description" content="Information about PseudoID, a privacy-preserving enhancement for federated login systems" /> 
  <title>{% block title %} PseudoID: Enhancing Privacy for Federated Login {% endblock %}</title>
  <link rel="openid2.provider openid.server"
        href="{{ request_url_without_params }}" />
  <link href="/static/base.css" rel="stylesheet" type="text/css"/>
  {% block head %}{% endblock %}
</head>

<body {% block bodyattributes %}{% endblock %}>

{% block header %}
<h1>PseudoID: Enhancing Privacy for Federated Login</h1>
{% endblock %}

<div id="body">
  {% block body %}{% endblock %}
</div>

</body>
</html>
