{% extends "base.html" %}

{% block body %}

<h2>
  How It Works
</h2>

<p>
  PseudoID is a privacy enhancement for federated login systems that
  is backward-compatible
  with <a href="http://openid.net">OpenID</a>. PseudoID is designed to
  protect users from disclosre of private login data held by federated
  identity providers. It is based on a cryptographic tool called a 
  <a href="http://en.wikipedia.org/wiki/Blind_signature">blind
  signature</a>, which are used in a manner similar
  to <a href="http://www.chaum.com">David Chaum's</a> classic
  untracable payment scheme. PseudoID was designed and developed
  by <a href="http://twitter.com/arkajit">Arkajit Dey</a>
  and <a href="http://saweis.net/">Stephen Weis</a>.
</p>

<h2>
  Introductory video
</h2>

<p>Watch
  a <a href="http://www.youtube-nocookie.com/v/fCBPuGsO_I4">short
    introductory video about PseudoID</a></p>
<object width="480" height="385">
	<param name="movie" value="http://www.youtube-nocookie.com/v/fCBPuGsO_I4&hl=en_US&fs=1&"></param>
	<param name="allowFullScreen" value="true"></param>
	<param name="allowscriptaccess" value="always"></param>
	<embed src="http://www.youtube-nocookie.com/v/fCBPuGsO_I4&hl=en_US&fs=1&" 
		   type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" 
		   width="480" height="385">
	</embed>
</object>

<h2>
  Download the paper
</h2>

<p>
<a href="http://www.pseudoid.net/static/pseudoid.pdf">Download the
  PseudoID paper</a> as a PDF. 
</p>
<div>
<a href="http://docs.google.com/viewer?url=http%3A%2F%2Fwww.pseudoid.net%2Fstatic%2Fpseudoid.pdf"><img src="/static/pseudoid-cover.gif" width="250" height="325"></a> 
</div>

<h2>Try a prototype identity provider</h2>

<p style="color:red">WARNING: This prototype still under development
and is meant to be used for demo purposes.</p>

<p>
You can use this private identity provider to anonymously log into any 
website that supports <nobr><a href="http://openid.net/">
 <img src="/static/openid-icon.png"/>OpenID 2.0</a></nobr>. 
 Just follow these simple steps.
</p>

<ol>
  <li> Create a nickname or pseudonym at the 
    <a href="http://blind-signer.appspot.com">PseudoID Blind Signer</a>.
  </li>
  
  <li> Visit any OpenID-enabled website and enter 
<span class="url">{{ request_url_without_path }}/server</span> as your OpenID. Try these:
    <ul>
      <li><a href="http://www.puffypoodles.com/">Puffypoodles</a>: 
          Google Step2 Demo
      </li>
      <li>
        <a href="http://openidenabled.com/python-openid/trunk/examples/consumer/">
          JanRain Consumer</a>: Python OpenID Example Consumer
       </li>
      <li><a href="http://www.plaxo.com/openid">Plaxo</a>: 
          Social Networking Site
      </li>
    </ul>
  </li>
  
  <li>
    You're Done! You'll be logged in under your nickname.
  </li>
</ol>

<h2>Download the code</h2>

<p>The <a href="http://code.google.com/p/pseudoid/">PseudoID source
    code</a> is available as a <a href="http://code.google.com">Google
    Code</a> project.

{% endblock %}
