{% extends "base.html" %}

{% block body %}

<p style="color:red">WARNING: Prototype still under development, meant to be
used primarily for demo purposes.</p>

<div class="top">
  How It Works
</div>

<table>
<tr>
<td>
<a href="http://docs.google.com/viewer?url=http%3A%2F%2Fwww.pseudoid.net%2Fstatic%2Fpseudoid.pdf">
	<img src="/static/pseudoid-cover.gif" width="250" height="325"></img>
</a>
</td>
<td>
<p> 
  The PseudoID private identity provider authenticates users anonymously by
  piggbyacking on the PseudoID blind signer.
</p>
<p>    
    When you create a nickname at the blind signer, you are asked to login
  normally using your google account. Once the blind signer knows that you are
  a valid user, it issues you an access token with your chosen nickname.
</p>
<p>
    The token is blindly signed by the signer such that PseudoID will later
  recognize it as being created by a valid user, but will not be able to tell
  <i>which</i> user created the token.
</p>
<p> 
	Learn more about our system by reading our paper (left) or watching
	our short explanatory video (right).
</p>
</td>
<td>
<object width="480" height="385">
	<param name="movie" value="http://www.youtube-nocookie.com/v/fCBPuGsO_I4&hl=en_US&fs=1&"></param>
	<param name="allowFullScreen" value="true"></param>
	<param name="allowscriptaccess" value="always"></param>
	<embed src="http://www.youtube-nocookie.com/v/fCBPuGsO_I4&hl=en_US&fs=1&" 
		   type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" 
		   width="480" height="385">
	</embed>
</object>
</td>
</tr>
</table>

<div class="top">Try It!</div>

<p>
You can use this private identity provider to anonymously log into any 
website that supports <nobr><a href="http://openid.net/">
 <img src="/static/openid-icon.png"/>OpenID</a></nobr>! 
 Just follow these simple steps.
</p>

<ol>
  <li> Create a nickname or pseudonym at the 
    <a href="http://blind-signer.appspot.com">PseudoID Blind Signer</a>.
  </li>
  
  <li> Visit any OpenID-enabled website and enter 
<span class="url">{{ request_url_without_path }}/server</span> as your OpenID. Try these:
    <ul>
      <li><a href="http://www.puffypoodles.com/">Puffypoodles</a>: 
          Google Step2 Demo
      </li>
      <li>
        <a href="http://openidenabled.com/python-openid/trunk/examples/consumer/">
          JanRain Consumer</a>: Python OpenID Example Consumer
       </li>
      <li><a href="http://www.plaxo.com/openid">Plaxo</a>: 
          Social Networking Site
      </li>
    </ul>
  </li>
  
  <li>
    You're Done! You'll be logged in under your nickname.
  </li>
</ol>

<div class="top">Credits</div>

<p>
PseudoID was designed and developed by Arkajit Dey 
(<a href="http://twitter.com/arkajit">@arkajit</a>) and
<a href="http://saweis.net/">Steve Weis</a> 
(<a href="http://twitter.com/sweis">@sweis</a>). 
</p>

{% endblock %}
